<div class="center">
    <div class="col">
        <a href="mailto:drkuster@crimson.ua.edu?subject=Hey!">
            <input type="image" src="../../assets/email.png" class="logo">
        </a>
    </div>
    <div class="col">
        <a href="https://www.linkedin.com/in/dylan-kuster/" target="_blank">
            <input type="image" src="../../assets/linkedin.png" class="logo"/>
        </a>
    </div>
    <div class="col">
        <a href="https://github.com/drkuster" target="_blank">
            <input type="image" src="../../assets/github.png" class="logo"/>
        </a>
    </div>
</div>