<div class="center">
    <div class="col">
        <img src="../../assets/casual-photo.jpg" class="personal-photo">
    </div>
    <h1>Testing</h1>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <div class="col">
        <div class="child" style="padding-left: 75px;">
            <h2>Hi, I'm Dylan!</h2>
            <br>
            <p class="text">
                Welcome to my very own Angular-built personal site! If you don't know me, I'm a junior
                CS student at The University of Alabama from Chicago, IL. I'm also getting my MBA in 1 
                year of graduate school through my university's STEM Path to MBA program. Right now, 
                I'm interning for <a href="https://www.sas.com/en_us/home.html" target="_blank">SAS Institute</a>
                as a software developer and tester. I'm the only intern on a small team tasked with developing and
                maintaining SAS' main customer relationship management application: Orion. As a developer
                and tester, I spend my days fixing bugs, implementing features, creating automated tests, and performing
                manual testing when necessary. I'm also the Human Machine Interface / User Experience team lead for UA's
                EcoCAR team. As team lead, I guide and manage a small team tasked with building an interface to educate 
                a driver on their vehicle's autonomous features. You can read more about the EcoCAR mobility challenge 
                <a href="https://avtcseries.org/ecocar-mobility-challenge/" target="_blank">here</a> and check out 
                my other experiences on the <a href="/experience">Experience</a> tab.
            </p>
            <br>
            <p class="text">
                In my freetime, I like to work out, hike, spend time with my family, and watch Chicago Cubs baseball.
                I also really enjoy keeping up with things going on in the tech industry and the stock market.
                A favorite podcast of mine is <a href="https://www.cnbc.com/techcheck/" target="_blank">CNBC's 
                TechCheck</a>. You should check it out!
            </p>
            <br>
            <p class="text">
                Feel free to connect further with me by visiting my LinkedIn, GitHub, or sending me an email!
            </p>
        </div>
    </div>
</div>
<contact-info-component></contact-info-component>


